/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*Utility Classes*/
/*Hide element*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
/*Typography*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #ffffff;
  text-decoration: none;
}

a {
  text-decoration: none;
}
/*Global Styling*/
body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template: auto 1fr / 1fr 4fr;
}

/*Media Styling*/
.icon {
  width: 1.5rem;
}

.profile-pic {
  width: 2.5rem;
  margin: 1rem;
}

/*Header Styling*/
header {
  background-color: #ffffff;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 2rem;
  padding: 1rem 4rem 0rem 2rem;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

/*Header Upper Styling*/
.upper {
  height: fit-content;
  display: grid;
  grid-template-rows: 2.5rem;
  grid-template-columns: 0.5fr 10fr 2fr 0.5fr 1fr 2fr;
  align-items: center;
}

.searchbar {
  height: 2rem;
  border: none;
  border-radius: 16px;
  background-color: #e2e8f0;
}

.notification {
  grid-column: 4 / 5;
}

.small-name {
  margin: 1rem 1rem 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 800;
}

/*Header Lower Styling*/
.lower {
  height: fit-content;
  display: grid;
  grid-template: 1fr 2fr / 0.75fr 3fr 3fr 1.5fr 1.5fr 1.5fr;
}

.icon.large {
  width: 4rem;
  grid-row: 1 / 3;
}

.greeting {
  font-size: 0.75rem;
  font-weight: 800;
  grid-area: 1 / 2 / 2 / 3;
}

.big-name {
  grid-area: 2 / 2 / 3 / 3;
}

button {
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: 16px;
  background-color: #1992d4;
  color: #ffffff;
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-self: center;
}

.new-btn {
  grid-area: 1 / 4 / 3 / 5;
}

.upload-btn {
  grid-area: 1 / 5 / 3 / 6;
}

.share-btn {
  grid-area: 1 / 6 / 3 / 7;
}
/*Nav Styling*/
nav {
  padding: 1rem;
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 10;
}

.nav-container {
  display: grid;
  grid-template-rows: 2fr repeat(11, 1fr);
  height: fit-content;
  gap: 1rem;
}

nav * {
  color: #fff;
}

.navIcon {
  filter: brightness(0) invert(1);
  justify-self: center;
}

.menuItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
}

.navHeader {
  font-weight: 800;
  font-size: 2rem;
  grid-row: 1 / 2;
}

.navHeader span {
  grid-row: 1 / 3;
}

.home {
  grid-row: 3 / 4;
}

.profile {
  grid-row: 4 / 5;
}

.msg {
  grid-row: 5 / 6;
}

.history {
  grid-row: 6 / 7;
}

.task {
  grid-row: 7 / 8;
}

.com {
  grid-row: 8 / 9;
}

.setting {
  grid-row: 10 / 11;
}

.support {
  grid-row: 11 / 12;
}

.privacy {
  grid-row: 12 / 13;
}
/*Card Section Styling*/
main {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cardContainer {
  background-color: #e2e8f0;
}
