/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*Utility Classes*/
.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.u-icon-normal {
  width: 1.5rem;
}

.u-profile-pic-normal {
  width: 2.5rem;
  margin: 1rem;
}

.u-profile-pic-large {
  width: 4rem;
}

.u-text-normal {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 800;
}

.u-btn {
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: 16px;
  background-color: #1992d4;
  color: #ffffff;
  font-weight: 800;
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-self: center;
}

.u-text-small {
  font-size: 0.75rem;
  font-weight: 800;
}

.u-svg-white {
  filter: brightness(0) invert(1);
  justify-self: center;
}

.u-text-white {
  color: #ffffff;
}

.u-card {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.u-single-card-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

/*Typography*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #ffffff;
  text-decoration: none;
}

a {
  text-decoration: none;
}
/*Global Styling*/
body,
html {
  height: 100%;
}

body {
  display: grid;
  grid-template: auto 1fr / 1fr 4fr;
}

/*Header Styling*/
header {
  background-color: #ffffff;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 2rem;
  padding: 1rem 4rem 0rem 2rem;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

/*Header Upper Styling*/
.header__upper {
  height: fit-content;
  display: grid;
  grid-template-rows: 2.5rem;
  grid-template-columns: 0.5fr 10fr 2fr 0.5fr 1fr 2fr;
  align-items: center;
}

.header__searchbar {
  height: 2rem;
  border: none;
  border-radius: 16px;
  background-color: #e2e8f0;
}

.header__bell-icon {
  grid-column: 4 / 5;
}

/*Header Lower Styling*/
.header__lower {
  height: fit-content;
  display: grid;
  grid-template: 1fr 2fr / 0.75fr 3fr 3fr 1.5fr 1.5fr 1.5fr;
}

.header__profile-pic--large {
  grid-row: 1 / 3;
}

.header__greeting {
  grid-area: 1 / 2 / 2 / 3;
}

.header__lower-username {
  grid-area: 2 / 2 / 3 / 3;
}

.header__btn--new {
  grid-area: 1 / 4 / 3 / 5;
}

.header__btn--upload {
  grid-area: 1 / 5 / 3 / 6;
}

.header__btn--share {
  grid-area: 1 / 6 / 3 / 7;
}
/*Nav Styling*/
.nav {
  padding: 1rem;
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 10;
}

.nav__container {
  display: grid;
  grid-template-rows: 2fr repeat(11, 1fr);
  height: fit-content;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav__dashboard-icon {
  grid-column: 1 / 2;
}

.nav__header {
  grid-column: 2 / 3;
}

.nav__menu-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 1.25rem;
  font-weight: 600;
  align-items: center;
}

.nav__menu-item--header {
  font-weight: 800;
  font-size: 2rem;
  grid-row: 1 / 2;
}

.nav__home {
  grid-row: 3 / 4;
}

.nav__profile {
  grid-row: 4 / 5;
}

.nav__msg {
  grid-row: 5 / 6;
}

.nav__history {
  grid-row: 6 / 7;
}

.nav__task {
  grid-row: 7 / 8;
}

.nav__com {
  grid-row: 8 / 9;
}

.nav__setting {
  grid-row: 10 / 11;
}

.nav__support {
  grid-row: 11 / 12;
}

.nav__privacy {
  grid-row: 12 / 13;
}
/*Card Section Styling*/
.main {
  padding: 2rem 2rem 3rem 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.main__project-section {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main__announcements-section {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main__project-cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  background-color: #e2e8f0;
}

.main__section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.main__project-card {
  border-left: 0.5rem solid orange;
  display: grid;
  grid-template-columns: 3fr repeat(3, 0.5fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  padding: 2rem 1rem 2rem 1.5rem;
}

.main__project-card h4 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 1rem;
}

.main__project-card p {
  font-size: 1rem;
  color: #636363;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

.main__fav-icon {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.main__share-icon {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.main__fork-icon {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
